# Node
node_modules/
npm-debug.log
yarn-error.log

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.ipa
*.apk

# Metro
.metro-health-check*

# macOS
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo

# Temporary
*.log
*.tmp
.env.local
